.background{
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.detail-card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.detail-card > div {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.detail-card img {
    width: 100%;
    border-radius: 8px;
    height: 350px;
    object-fit: cover;
    object-position: center;
}
